ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #A1E8AF;
}
li.navbar {
	float: right;
	font-size: 40px;
}

li.logo {
	float: left;
	font-size: 40px;
}

li a {
	display: block;
	color: #372772;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #94C595;
	color: #3A2449;
}

select {
	float: left;
}

select.form {
	display: inline;
}